#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chat {
  list-style: none;
}

.chat-window {
  font-size: 1em;
  padding: 6px 8px;
  margin-right: -3px;
  width: 300px;
  text-align: center;
}

.send-message-container {
  display: flex;
}

.chat-container {
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 415px;
}

.maze-container {
  display: flex;
}

.breadcrumbs {
  position: absolute;
  left: 8px;
  font-size: 15px;
  color: red;
}

.maze-cell {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  position: relative;
}

.wall {
  background-color: black;
}

.empty {
  background-color: white;
}

.rows-columns-container {
  display: flex;
  justify-content: center;
}

.rows-input,
.columns-input {
  font-size: 20px;
  width: 20%;
  margin-left: 10px;
}

.row-label {
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.2rem;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

.turn-message {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
    0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }

  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}

.player-move-message,
.hit-wall-message,
.give-up-message {
  font-size: 12px;
}

.player-move-message {
  color: green;
  font-size: 14px;
}

.hit-wall-message {
  color: yellow;
  font-size: 14px;
}

.give-up-message {
  color: red;
  font-size: 14px;
}

.player-wins-message {
  color: fuchsia;
  font-size: 20px;
}

.arrow-buttons {
  position: absolute;
  left: 200px;
  bottom: 100px;
}
